section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18110f;
    position:sticky;
    bottom: 0;
    box-sizing: border-box;
}